*

!.gitignore

!*.brm3
!*.png
!mvnw*
!*.xml
!Dockerfile
!*.yml
!*.sh
!*.txt
!*.properties
!*.java
!*.html
!*.sql
!*.http
!*.json
!.vscode
!src
!src/main
!src/main/java
!src/main/java/br
!src/main/java/br/mt
!src/main/java/br/mt/ufmt
!src/main/java/br/mt/ufmt/ic
!src/main/java/br/mt/ufmt/ic/matrizes